#display-weather {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.weather-div {
  max-width: 350px;
  margin: auto;
  padding: 40px;
  border: 1px solid #fec109;
  border-radius: 5px;
}

.conditions-p {
  font-size: 1.3em;

}

.weather-p {
  font-size: 2.4em;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #fec109;
}

.temperature-p {
  font-size: 2.5em;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: #FEC109;
}


.location-div {
  font-size: 1.438em;
}

.loader-1 {
  margin: 20px auto;
}

.loader-2 {
  margin: 0 auto;
}

.edit-span {
  font-weight: bold;

  background: -webkit-linear-gradient(white, #FEC109, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 15px auto;

}

button {
  letter-spacing: 1px;
  padding: 10px 12px;

  border-radius: 5px;
  cursor: pointer;
  color: #FEC109;
  background: transparent;
  border: 1px solid #FEC109;
  font-weight: bold;
  letter-spacing: 1px;
}

button:focus {
  box-shadow: none !important;
  outline: none;
}

button:hover {
  color: black;
  background: #FEC109;

  -webkit-transition: background-color 400ms linear;
  -ms-transition: background-color 400ms linear;
  transition: background-color 400ms linear
}

.clock {
  font-size: 1.5em;
}