#display-weather {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.weather-div {
  max-width: 350px;
  margin: auto;
  padding: 40px;
  border: 1px solid #fec109;
  border-radius: 5px;
  text-decoration: underline;
  text-decoration-color: #fec109;
}

.weather-div>p {
  margin: 0;
  font-size: 2.5em;
}

.conditions-p {
  font-size: 1.3em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 375px;
  margin: 15px auto;
}

button {
  padding: 10px 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #FEC109;
  font-weight: bold;
  letter-spacing: 3px;
  background: transparent;
  border: 1px solid #FEC109;
}

button:focus {
  box-shadow: none !important;
  outline: none;
}

button:hover {
  color: black;
  background: #FEC109;
  transition: background-color 500ms linear;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
}

.active-button {
  color: black;
  background: #FEC109;
}

.loader-1 {
  margin: 15px auto;
}

.loader-2 {
  margin: 25px auto;
}

.location-div {
  font-size: 1.44em;
}

.location-span {
  font-weight: bold;
  background: -webkit-linear-gradient(white, #FEC109, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 610px) {
  .location-span {
    display: block;
  }
}

.clock {
  font-size: 1.4em;
}